:root {
  --duck-green: #465842;
  --forest-green: #0c2716;
  --eggshell-white: #fffcf2;
  --gold: #faa82a;
  --black: #231f20;
  --white: #fff;
  --logo-height: 100px;
  --nav-height: 50px;
  --header-height: calc(var(--logo-height) + var(--nav-height));
}

::-moz-selection {
  color: var(--eggshell-white);
  background: var(--duck-green);
}

::selection {
  color: var(--eggshell-white);
  background: var(--duck-green);
}

html, body {
  margin: 0px;
  min-height: 100vh;
}

body {
  font-family: 'Playfair Display', serif;
  color: var(--black);
  background: var(--eggshell-white);
  padding: 0px;
  margin-top: var(--header-height);
}

.app-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  width: 1200px;
  max-width: calc(100% - 48px);
  padding: 48px 24px 0 24px;
}

a {
  color: var(--duck-green);
  text-decoration: none;
  transition: color 0.2s;
}

a:hover,
a:focus {
  color: var(--gold);
}

.image-placeholder {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  height: 400px;
  line-height: 400px;
  min-width: 300px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

h4, h5, h6 {
  font-size: 14px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 12px;
  height: var(--header-height);
  box-sizing: border-box;
  background-color: var(--duck-green);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 1000;
  opacity: 0.96;
}

header a {
  color: var(--eggshell-white);
}

header a:hover,
header a:focus {
  color: var(--gold);
}

.header-wrapper {
  position: relative;
  width: 1200px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
}

.header-logo-link {
  height: 100%;
  overflow: hidden;
  fill: var(--eggshell-white);
}

.header-logo-link:hover path,
.header-logo-link:focus path {
  fill: var(--gold);
}

.header-logo {
  padding: 12px;
  height: 76px;
}

.header-logo path {
  transition: fill 0.2s;
}

.nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  display: flex;
  position: relative;
}

.nav-item:hover .nav-subitem-link {
  max-height: 32px;
  opacity: 1;
}

.nav-item-link {
  display: inline-block;
  height: var(--nav-height);
  line-height: var(--nav-height);
  padding: 0 24px;
  transition: background-color 0.2s, color 0.2s;
}

.nav-item-link:hover,
.nav-item-link:focus,
.nav-dropdown-check:focus + .nav-dropdown,
.nav-dropdown:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.nav-item-link:focus + .nav-subnav li:first-child .nav-subitem-link {
  max-height: 32px; 
  opacity: 1;
}

.nav-dropdown {
  position: relative;
  display: none;
  height: var(--nav-height);
  width: 32px;
  cursor: pointer;
  transition: background 0.2s;
}

.nav-dropdown-check {
  position: fixed;
  display: none;
  opacity: 0;
  user-select: none;
  top: 100%;
  left: 100%;
}

.nav-dropdown-check:focus + .nav-dropdown {
  outline: -webkit-focus-ring-color auto 1px;
  outline-offset: 1px;
}

.nav-dropdown:before,
.nav-dropdown:after {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  height: 2px;
  width: 12px;
  background: var(--eggshell-white);
  will-change: transform;
  transition: background 0.2s, transform 0.2s;
}

.nav-dropdown:before {
  transform: translate3d(-2px,-50%,0) rotate(-45deg);
}

.nav-dropdown:after {
  transform: translate3d(-10px, -50%, 0) rotate(45deg);
}

.nav-dropdown-check:focus + .nav-dropdown:before,
.nav-dropdown-check:focus + .nav-dropdown:after,
.nav-dropdown:hover:before,
.nav-dropdown:hover:after {
  background: var(--gold);
}

.nav-dropdown-check:checked + .nav-dropdown:before {
  transform: translate3d(-2px, -50%, 0) rotate(45deg);
}

.nav-dropdown-check:checked + .nav-dropdown:after {
  transform: translate3d(-10px, -50%, 0) rotate(-45deg);
}

.nav-dropdown-check:checked ~ .nav-subnav .nav-subitem-link {
  max-height: 32px; 
  opacity: 1;
}

.nav-subnav {
  position: absolute;
  top: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--duck-green);
  z-index: 100;
}

.nav-subitem-link {
  display: block;
  padding: 0 12px;
  height: 32px;
  line-height: 32px;
  max-height: 0;
  opacity: 0;
  width: 200px;
  transition: background-color 0.2s, color 0.2s, max-height 0.2s, opacity 0.2s, padding-left 0.2s;
  overflow: hidden;
  box-sizing: border-box;
}

.nav-subitem-link:hover,
.nav-subitem-link:focus {
  color: var(--gold);
  background-color: rgba(255, 255, 255, 0.05);
  padding-left: 16px;
}

.nav-subitem-link:focus {
  max-height: 32px;
  opacity: 1;
}

@media screen and (max-width: 500px) {
  .nav-item-link {
    padding: 0 6px;
  }

  .nav-dropdown,
  .nav-dropdown-check {
    display: inline-block;
  }
}

ol {
  padding-left: 20px;
}

ol li {
  margin: 0 0 12px 0;
}

ol p {
  margin: 0;
}

.markdown ol ol ol {
  list-style-type: lower-alpha;
}

.article-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.article {
  position: relative;
  background: var(--eggshell-white);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.article:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0));
  z-index: 0;
}

.article:last-child {
  margin-bottom: 0;
}

.article.article-reverse {
  flex-direction: row-reverse;
}

.article.article-fullwidth {
  flex-direction: column;
  max-width: 1000px;
}

.article.article-fullwidth.article-reverse {
  flex-direction: column-reverse;
}

.article-text {
  padding: 32px;
  width: 50%;
}

.article-text,
.article-image {
  width: 50%;
  box-sizing: border-box;
  z-index: 1;
}

.article-image {
  position: relative;
  display: block;
  height: 426px;
  overflow: hidden;
}

.article-portrait .article-image {
  height: 850px;
}

.article-image .gatsby-image-wrapper {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  height: 100% !important;
  box-sizing: content-box;
  padding: 25px;
}

.article.article-fullwidth .article-text,
.article.article-fullwidth .article-image {
  width: 100%;
}

.article .image-placeholder {
  width: 100%;
  height: 450px;
  line-height: 450px;
}

.article-steps {
  counter-reset: steps;
  list-style: none;
  padding-left: 0;
}

.article-steps li {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  counter-increment: steps;
  width: 55%;
}

.article-steps li:nth-child(odd):before,
.article-steps li:nth-child(even):after {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  background: var(--duck-green);
  top: calc(50% - 30px);
  transform: rotate(45deg);
}

.article-steps li:nth-child(even) {
  float: right;
  text-align: right;
  padding-right: 140px;
  padding-left: 20px;
}

.article-steps li:nth-child(odd) {
  float: left;
  padding-left: 140px;
  padding-right: 20px;
}

.article-steps li:nth-child(odd):before,
.article-steps li:nth-child(odd):after {
  left: 40px;
}

.article-steps li:nth-child(even):before,
.article-steps li:nth-child(even):after {
  right: 40px;
}

.article-steps li:nth-child(odd):after,
.article-steps li:nth-child(even):before {
  content: counter(steps);
  position: absolute;
  width: 60px;
  height: 60px;
  top: calc(50% - 7px);
  color: var(--eggshell-white);
  text-align: center;
  line-height: 0;
  font-size: 40px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .article {
    flex-direction: column;
  }

  .article.article-reverse {
    flex-direction: column;
  }

  .article.article-fullwidth.article-reverse {
    flex-direction: column-reverse;
  }

  .article .image-placeholder {
    height: 400px;
    line-height: 400px;
  }

  .article-text,
  .article-image {
    width: 100%;
  }

  .article-steps li {
    width: auto;
  }
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  max-width: calc(100% - 48px);
  padding: 48px 24px 0;
}

.footer-wrapper {
  position: relative;
  width: 1000px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-nav-link {
  width: calc(100% / 3);
}

.footer-nav a {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
}

@media screen and (max-width: 710px){
  .footer-wrapper {
    flex-direction: column;
  }

  .social {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 600px){
  .footer-nav {
    flex-direction: column;
    margin-top: 24px;
  }

  .footer-nav-link {
    width: auto;
  }
}

.delaval-divider {
  position: relative;
  width: 100%;
  height: 60px;
  margin: 100px 0;
  display: flex;
  justify-content: center;
}

.delaval-divider:before,
.delaval-divider:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  background-color: var(--duck-green);
  width: calc(50% - 38px);
}

.delaval-divider:before {
  left: 0;
}

.delaval-divider:after {
  right: 0;
}

.delaval-divider-logo {
  width: 60px;
  height: 60px;
}

.delaval-divider-logo path {
  fill: var(--duck-green);
}

.social {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}
     
.social a {
  display: inline-block;
  height: 48px;
  width: 48px;
  margin: 5px;
  padding: 10px;
  text-align: center;
  transition: background 0.2s;
  background: var(--duck-green);
}
  
.social svg {
  height: 100%;
  width: 100%;
}

.social path,
.social polygon,
.social rect {
  fill: var(--eggshell-white);
  transition: fill 0.2s;
}

.social a:hover,
.social a:focus {
  background: var(--eggshell-white);
  outline: none;
}

.social a:hover path,
.social a:hover polygon,
.social a:hover rect {
  fill: var(--duck-green);
}
